* {
	box-sizing: border-box;
}

body {
	background-image: url("../assets/images/images/space3.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 200px;
}

#leftside {
	/*background-image: url("../assets/images/images/leftside.png");
*/	/*background-color: black;*/
/*	background-repeat: no-repeat;*/
/*	background-position: center center;*/
/*	background-attachment: fixed;*/
/*	background-size: cover;*/
/*	padding-bottom: 200px;*/
	min-height: 1000px;
	position: relative;
	z-index: 90;

}

/*#background {
	background-image: url("../assets/images/images/space3.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 200px;
	min-height: 1000px;
}
*/
/*#headline {
	background-color: rgba(8, 24, 57, 0.7);
	position: relative;
	z-index: 2;
}*/

#logo {
	background-image: url("../assets/images/images/Marvel-logo.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100%;
	width: 100%;
	min-height: 140px;
	float: left;
	padding-top: 20%
}

h1 {
	font-family: 'Saira Extra Condensed', sans-serif;
	color: white;
	font-size: 48px;
/*	float: left;*/
	letter-spacing: 1px;
	padding-left: 3%;
}

.page-header {
	margin-top: 20%;
	border: solid 3px #18355f;
	border-radius: 15px;
	padding: 5% 10%;
	color: white;
	text-align: center;
	background-color: rgba(8, 24, 57, 0.8);
	box-shadow: 0px 0px 5px #181b24;
}

.page-header > h1 {
	font-size: 36px;
}

h1 small {
	color: #ffc107;

}

#start {
	margin: 10% 2% 3% 2%;
	padding: 2% 15%;
}

#rules {
	margin: 2% 2% 8% 2%;
	padding: 2% 11%;
}

.modal {
	margin-top: 10%;
}

#thanos {
	float: left;
	width: 40%;
	margin-right: 4%;
}

.modal-title {
	font-size: 32px;
	color: #FF8800;
	text-align: center;
}

.modal-body > p {
	padding: 5% 3%;
	font-size: 16px;
	line-height: 1.5;
	color: #0a1c3d;
}

.modal-footer {
	clear: both;
}

#frame {
	margin: 10% auto;
	position: relative;
	z-index: 99;
	background-image: url("../assets/images/images/mirror-frame.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 387px;
	height: 747px;
	text-align: center;
}

.puzzle-container {
	position: relative;
	float: left;
	margin-top: 220px;
	margin-left: 8.5%;
	z-index: -1;
}

.puzzle-container:after{
	content: " ";
	display: block;
	clear: both;
	position: relative;
	z-index: -1;
}

.mytitle{

	text-align: center;
}
.difficulty:after{
	content: " ";
	display: block;
	clear: both;
}
.difficulty{
	float:left;
	margin:auto;
	height: 50px;
	width:100%;
/*	text-align: center center;*/
/*	border:1px solid black;*/
}
.mybtn{
	color:white;
/*	background:#21414D;*/
	margin: 0% 5%;
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.grid{
	position:relative;
	width:300px;
	height:450px;
/*	padding:5px;*/
/*	border:0.1px solid black;*/
	float: left;
	margin:10px;
	margin-top: 0;
}

.grid:after{
	content: " ";
	display: block;
	clear: both; 
}

.page-header {
	text-align: center;
}
