body:after{

	content: " ";
	display: block;
	clear: both;
}
.packery:after{
	content: '';
  display: block;
  clear: both;
}
.packery{
	float:left;
	border:5px solid black;
	width:320px;
	height: 470px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid{
	float:left;

	width:320px;
	height:450px;
}
.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}
.grid-item{
	float:left;
	height:148.05px;
	width:97.95px;
}
.drop{
	border:2px solid black;
	float:left;
	height: 148.05px;
	width:97.95px;
}
.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}
.canvas{

	width:97.95px;
	height: 148.05px;
}
#localimg{

	float: left;
}
#image{

	float: left;
	

}
p{
	z-index: 10;
}
#myCanvas{
 float:left;
 width:200px;
 height: 200px;
}